/* .leaflet-popup-content {
    width: 200px !important;
} */
.leaflet-popup-content {
    margin:4px 4px;
    /* width: 100%; */
}
.leaflet-top.leaflet-left {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    right: 5px !important;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .leaflet-div-icon {
    background: transparent;
    border: none;
  }
  .leaflet-right{
    right:-5px
  }