.leaflet-popup-content {
    margin:4px 4px;
    /* width: 480px !important; */
}
/* .leaflet-popup-close-button{
  display: none;
} */
.leaflet-top.leaflet-left {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    right: 5px !important;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  hover:hover{
    transform: scale(1.5)
  }
  .leaflet-div-icon {
    background: transparent;
    border: none;
  }
  .leaflet-right{
    right:-5px
  }